@implements IDisposable
@inject NavigationManager NavigationManager

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">MyMedia.Gestao</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <AuthorizeView>
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="utilizadores/pendentes">
                        <span class="bi bi-person-clock-fill-nav-menu" aria-hidden="true"></span> Pendentes
                    </NavLink>
                </div>

                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="vendas">
                        <span class="bi bi-cart-check-fill-nav-menu" aria-hidden="true"></span> Gestão Vendas
                    </NavLink>
                </div>

                @if (context.User.IsInRole("Administrador"))
                {
                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="gestao/relatorios">
                            <span class="bi bi-bar-chart-line-fill-nav-menu" aria-hidden="true"></span> Relatório Vendas
                        </NavLink>
                    </div>
                }

                <hr class="text-white-50 mx-3" />

                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="gestao/produtos">
                        <span class="bi bi-box-seam-fill-nav-menu" aria-hidden="true"></span> Gestão Catálogo
                    </NavLink>
                </div>

                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="gestao/colecoes">
                        <span class="bi bi-images-nav-menu" aria-hidden="true"></span> Exposição
                    </NavLink>
                </div>

                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="gestao/categorias">
                        <span class="bi bi-tags-fill-nav-menu" aria-hidden="true"></span> Gestão Categorias
                    </NavLink>
                </div>

                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="gestao/disponibilidade">
                        <span class="bi bi-list-check-nav-menu" aria-hidden="true"></span> Disponibilização
                    </NavLink>
                </div>

                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="gestao/utilizadores">
                        <span class="bi bi-people-fill-nav-menu" aria-hidden="true"></span> Lista Utilizadores
                    </NavLink>
                </div>

                <hr class="text-white-50 mx-3" />

                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="Account/Manage">
                        <span class="bi bi-person-fill-nav-menu" aria-hidden="true"></span> @context.User.Identity?.Name
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <form action="Account/Logout" method="post">
                        <AntiforgeryToken />
                        <input type="hidden" name="ReturnUrl" value="@currentUrl" />
                        <button type="submit" class="nav-link w-100 text-start border-0 bg-transparent">
                            <span class="bi bi-arrow-bar-left-nav-menu" aria-hidden="true"></span> Logout
                        </button>
                    </form>
                </div>
            </Authorized>
            <NotAuthorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="Account/Register">
                        <span class="bi bi-person-nav-menu" aria-hidden="true"></span> Register
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="Account/Login">
                        <span class="bi bi-person-badge-nav-menu" aria-hidden="true"></span> Login
                    </NavLink>
                </div>
            </NotAuthorized>
        </AuthorizeView>
    </nav>
</div>

@code {
    private string? currentUrl;
    protected override void OnInitialized()
    {
        currentUrl = NavigationManager.ToBaseRelativePath(NavigationManager.Uri);
        NavigationManager.LocationChanged += OnLocationChanged;
    }

    private void OnLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        currentUrl = NavigationManager.ToBaseRelativePath(e.Location);
        StateHasChanged();
    }

    public void Dispose()
    {
        NavigationManager.LocationChanged -= OnLocationChanged;
    }
}