@page "/utilizadores/pendentes"
@using Microsoft.AspNetCore.Identity
@using MyMedia.Data.Models
@using Microsoft.EntityFrameworkCore
@inject UserManager<ApplicationUser> UserManager
@attribute [Authorize(Roles = "Administrador,Funcionario")]
@rendermode InteractiveServer

<h3>Utilizadores Pendentes</h3>

<table class="table">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Email</th>
            <th>Ação</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in utilizadoresPendentes)
        {
            <tr>
                <td>@user.NomeCompleto</td>
                <td>@user.Email</td>
                <td>
                    <button class="btn btn-success" @onclick="() => AtivarUser(user)">Ativar Cliente</button>
                </td>
            </tr>
        }
    </tbody>
</table>

@code {
    private List<ApplicationUser> utilizadoresPendentes = new();

    protected override async Task OnInitializedAsync()
    {
        utilizadoresPendentes = await UserManager.Users
            .Where(u => u.IsAtivo == false).ToListAsync();
    }

    private async Task AtivarUser(ApplicationUser user)
    {
        user.IsAtivo = true;
        await UserManager.UpdateAsync(user);
        utilizadoresPendentes.Remove(user);
    }
}